<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Glozio - Online Shopping site</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="">About</a>
                    <a class="text-body mr-3" href="">Contact</a>
                    <a class="text-body mr-3" href="">Help</a>
                    
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <% if (token !== undefined) { %>
                                <button class="dropdown-item" type="button" onclick="window.location.href='/api/user/profile'">Profile</button>
                                <button class="dropdown-item" type="button" onclick="window.location.href='/api/user/logout'">Logout</button>
                            <% } else { %>
                                <button class="dropdown-item" type="button" onclick="window.location.href='/api/user/login'">Sign in</button>
                            <% } %>
                        </div>
                    </div>
                    
                    
                   
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                   
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="/cart" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                   
                </div>
                
                
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-black bg-white px-2">Glozio</span>


                   
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+91 8943336298</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        <a href="" class="nav-item nav-link">Laptop</a>
                        <a href="" class="nav-item nav-link">Mobiles</a>
                        <a href="" class="nav-item nav-link">Headphones</a>
                        <a href="" class="nav-item nav-link">Camera</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="index.html" class="nav-item nav-link">Home</a>
                            <a href="shop.html" class="nav-item nav-link">Shop</a>
                            <a href="detail.html" class="nav-item nav-link active">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                            <a href="" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row ">
            <div class="col-lg-5 mb-30">
                <div class="row">
                    <div class="col-4 ms-4">
                  <% for (let i = 0; i < product.images.length; i++) { %>
                  <div class="thumbnail my-3" onclick="displayImage(this)">
                    <img src="/<%= product.images[i] %>" class="pro_image w-75" alt="<%= product.product_name %>">
                  </div>
                  <% } %>
                </div>
                  
                  <div class="col-7 mt-3">
                  <div class="main-image" id="img-container">
                    <div id="lens"></div>
                    <img src="/<%= product.images[0] %>"class="pro_image w-100" id=featured alt="Main Image">
                  </div>
                </div>
                </div>
                
            </div>
            
            
            

            
            
            <div class="col-lg-6 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3><%= product.name %></h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1"><%= reviewCount %></small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">
                        ₹<%= product.sellingPrice.toFixed(2) %> 
                        <small class="text-muted ml-2">
                            <del>₹<%= product.price %></del> 
                          
                        </small>
                    </h3>
                    
                    
                    <p class="font-weight-bold mb-2 <%= product.stock === 0 ? 'text-danger' : 'text-success' %>">
                        <% if (product.stock > 0) { %>
                        Stock: <%= product.stock %>
                        <% } else { %>
                        Stock: Out of Stock
                        <% } %>
                    </p>
                    <!-- Display Highlights/Specs -->
                    <h4 class="font-weight-bold mb-2">Highlights/Specs</h4>
                    <ul>
                        <% product.highlights.forEach(highlight => { %>
                        <li><%= highlight %></li>
                        <% }); %>
                    </ul>
               
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <form action="/addcart" method="POST">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <% if (product.stock > 0) { %>
                            <button class="btn btn-primary px-3" type="submit">
                                <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                            </button>
                        <% } else { %>
                            <button class="btn btn-primary px-3" type="submit" disabled>
                                <i class="fa fa-shopping-cart mr-1"></i> Out of Stock
                            </button>
                        <% } %>
                    </form>
                    
                    <% if (product.isWishlisted) { %>
                        <!-- Product is wishlisted -->
                        <form action="/wishlist/remove/<%= product.wishlistId %>" method="post">
                            <!-- Include a hidden input field to send the wishlist item id -->
                            <input type="hidden" name="_method" value="DELETE">
                            <div class="btn btn-primary ml-4 pl-2 pr-2 pt-0 pb-0">
                                <button type="submit" class="btn px-0">
                                    <i class="fas fa-heart text-dark"></i>
                                </button> 
                            </div>
                        </form>
                    <% } else { %>
                        <!-- Product is not wishlisted -->
                        <form action="/wishlist/add" method="post">
                            <!-- Include a hidden input field to send the productId -->
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <div class="btn btn-primary ml-4 pl-2 pr-2 pt-0 pb-0">
                                <button type="submit" class="btn px-0">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </div>
                        </form>
                    <% } %>
                    
                    
                    
                   
                    
                </div>
            </div> 
        </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
         
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (<%= reviewCount %>)</a>

                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>
                            <p class="mb-4"><%= product.description %></p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4"><%= reviewCount %> reviews for "<%= product.name %>"</h4>
                                    <% if (reviews && reviews.length > 0) { %>
                                        <% reviews.forEach(review => { %>
                                            <div class="media mb-4">
                                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                                <div class="media-body">
                                                    <h6><%= review.userId.name %><small> - <i><%= review.createdAt.toDateString() %></i></small></h6>
                                                    <div class="text-primary mb-2">
                                                        <% for(let i=0; i<review.rating; i++) { %>
                                                            <i class="fas fa-star"></i>
                                                        <% } %>
                                                    </div>
                                                    <p><%= review.review %></p>
                                                </div>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        <p>No reviews yet.</p>
                                    <% } %>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked *</small>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                    <form method="POST" action="/submit-review">
                                        <div class="form-group">
                                            <label for="rating">Your Rating * :</label>
                                            <select id="rating" name="rating" class="form-control">
                                                <option value="1">1 Star</option>
                                                <option value="2">2 Stars</option>
                                                <option value="3">3 Stars</option>
                                                <option value="4">4 Stars</option>
                                                <option value="5">5 Stars</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Your Review * :</label>
                                            <textarea id="review" name="review" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Your Name * :</label>
                                            <input type="text" id="name" name="name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Your Email * :</label>
                                            <input type="email" id="email" name="email" class="form-control">
                                        </div>
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
    <div class="row px-xl-5">
        <% relatedProducts.forEach(product => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> <!-- Adjusted the classes here -->
                <div class="product-item bg-light">
                    <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="/<%= product.images[0] %>" alt="<%= product.name %>" style="width: 200px;">
                        <div class="product-action">
                            <a href="#" class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></a>
                            <a href="#" class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a href="/detail/<%= product._id %>" class="h6 text-decoration-none text-truncate"><%= product.name %></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>₹<%=  product.sellingPrice.toFixed(2) %></h5>
                            <h6 class="text-muted ml-2"><del>₹<%= product.price %></del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <% for (let i = 0; i < 5; i++) { %>
                                <small class="fa fa-star text-primary mr-1"></small>
                            <% } %>
                            <small>(<%= reviewCount %>)</small>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<!-- Products End -->


   <!-- Footer Start -->
   <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-4"></p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Kazhakootam,TVM,Kerela</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>adithyanshajilal@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 8943336298</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Feedbacks</h5>
                    <p>Please send valuable feedbacks </p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Glozio</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="">Adithyan S Dev</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>




    


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   


    <script>
        document.getElementById('img-container').addEventListener('mouseover', function(){
    imageZoom('featured')
    
})

function imageZoom(imgID){
	let img = document.getElementById(imgID)
	let lens = document.getElementById('lens')

	lens.style.backgroundImage = `url( ${img.src} )`

	let ratio = 3

	lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';

	img.addEventListener("mousemove", moveLens)
	lens.addEventListener("mousemove", moveLens)
	img.addEventListener("touchmove", moveLens)

	function moveLens(){
		/*
        Function sets sets position of lens over image and background image of lens
        1 - Get cursor position
        2 - Set top and left position using cursor position - lens width & height / 2
        3 - Set lens top/left positions based on cursor results
        4 - Set lens background position & invert
        5 - Set lens bounds
    
        */

        //1
		let pos = getCursor()
		//console.log('pos:', pos)

		//2
		let positionLeft = pos.x - (lens.offsetWidth / 2)
		let positionTop = pos.y - (lens.offsetHeight / 2)

		//5
		if(positionLeft < 0 ){
			positionLeft = 0
		}

		if(positionTop < 0 ){
			positionTop = 0
		}

		if(positionLeft > img.width - lens.offsetWidth /3 ){
			positionLeft = img.width - lens.offsetWidth /3
		}

		if(positionTop > img.height - lens.offsetHeight /3 ){
			positionTop = img.height - lens.offsetHeight /3
		}


		//3
		lens.style.left = positionLeft + 'px';
		lens.style.top = positionTop + 'px';

		//4
		lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
	}

	function getCursor(){
		/* Function gets position of mouse in dom and bounds
         of image to know where mouse is over image when moved
        
        1 - set "e" to window events
        2 - Get bounds of image
        3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
        4- Return x and y coordinates for mouse position on image
        
         */

        let e = window.event
        let bounds = img.getBoundingClientRect()

        //console.log('e:', e)
        //console.log('bounds:', bounds)
        let x = e.pageX - bounds.left
		let y = e.pageY - bounds.top
		x = x - window.pageXOffset;
		y = y - window.pageYOffset;
		
		return {'x':x, 'y':y}
	}

}

imageZoom('featured')
    </script>
   <script>
    function displayImage(element) {
  var mainImage = document.getElementById("featured");
  mainImage.src = element.getElementsByTagName("img")[0].src;
}
   </script>
</body>

</html>