<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="text-center text-primary mt-5">Edit Product</h2>
        <form action="/admin/products/<%= product._id %>/edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required><%= product.description %></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>" required>
            </div>
            <div class="form-group">
                <label for="discount">Discount Percentage:</label>
                <input type="number" class="form-control" id="discount" name="discount" min="0" max="100" step="0.01">
            </div>
            <div class="form-group">
                <label for="discount_price">Discount Price:</label>
                <input type="number" class="form-control" id="discount_price" name="discount_price" min="0" step="0.01" value="<%= product.discount_price %>">
            </div>
            <div class="form-group">
                <label>Current Images:</label>
                <% product.images.forEach(image => { %>
                    <img src="<%= image %>" class="img-fluid img-thumbnail" alt="Product Image">
                <% }); %>
            </div>
            <div class="form-group">
                <label for="new_images">New Images:</label>
                <input type="file" class="form-control-file" id="new_images" name="new_images" accept="image/*" multiple>
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" class="form-control" id="stock" name="stock" value="<%= product.stock %>" required>
            </div>
            <div class="form-group">
                <label for="highlights">Highlights/Specs:</label>
                <textarea class="form-control" id="highlights" name="highlights" required><%= product.highlights %></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update Product</button>
        </form>
    </div>
</body>
</html>
