<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<style>
    body{
        margin-bottom: 50px;
        background-color: rgb(238, 238, 238);
    }
</style>
<body>
    <div class="container">
        <h1 class="text-center text-primary mt-5">Edit Product</h1>
        <form action="/admin/products/<%= product._id %>/edit" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
            </div>
            <div class="form-group">
                <label for="description">Product Description:</label>
                <textarea class="form-control" id="description" name="description" rows="4" required><%= product.description %></textarea>
            </div>
            <div class="form-group">
                <label for="price">Product Price:</label>
                <input type="number" class="form-control" id="price" name="price" min="0" step="0.01" value="<%= product.price %>" required>
            </div>
            <div class="form-group">
                <label for="sellingPrice">Selling Price:</label>
                <input type="number" class="form-control" id="sellingPrice" name="sellingPrice" min="0" step="0.01" value="<%= product.sellingPrice %>" required>
            </div>
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" class="form-control" id="brand" name="brand" value="<%= product.brand %>" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category" required>
                    <% categories.forEach(category => { %>
                        <option value="<%= category._id %>" <%= product.category && product.category.equals(category._id) ? 'selected' : '' %>><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" class="form-control" id="stock" name="stock" min="0" value="<%= product.stock %>" required>
            </div>
            <div class="form-group">
                <label for="highlights">Highlights/Specs:</label>
                <textarea class="form-control" id="highlights" name="highlights" rows="4" required><%= product.highlights.join("\n") %></textarea>
            </div>
            <div class="form-group">
                <label>Existing Product Images:</label>
                <div class="row" id="imageContainer">
                    <% product.images.forEach((image, index) => { %>
                        <div class="col-md-3">
                            <img src="/<%= image %>" class="img-thumbnail" alt="Product Image" id="imgView_<%=index%>" style="width: 100px;">
                            <button type="button" class="btn btn-danger btn-sm delete-image position-absolute" onclick="deleteImage('<%= product._id %>', '<%= index %>')">x</button>            
                                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="form-group">
                <label for="images">Product Images:</label>
                <input type="file" class="form-control-file" id="new_images" name="img" accept="image/*" multiple>
            </div>
            <h3 class="font-weight-semi-bold mb-4">
                ₹<span id="selling_price"><%= product.sellingPrice.toFixed(2) %></span> 
                <small class="text-muted ml-2">
                    <del>₹<span id="original_price"><%= product.price.toFixed(2) %></span></del> 
                    (<span id="discount_percentage"><%= product.discount.toFixed(2) %>%</span>)
                </small>
            </h3>
            <button type="submit" class="btn btn-primary btn-block">Update Product</button>
        </form>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <script>
        function deleteImage(productId, index) {
            if (!confirm("Are you sure you want to delete this image?")) {
                return;
            }
            console.log(index, "is the index",productId);
            $.ajax({
                type: "DELETE",
                url: `/admin/products/${productId}/delete-image/${index}`,
                success: function(response) {
                    console.log(response.message);
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    alert("An error occurred while deleting the image.");
                }
            });
        }
    </script> -->
    
    <script>
        function deleteImage(productId, index) {
            console.log(index,productId)
    // Send an AJAX request to delete the image
    fetch(`/admin/deleteimage/${productId}/${index}`, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (response.ok) {
            // If the image is deleted successfully, remove it from the DOM
            const imageContainer = document.getElementById('imageContainer');
            const imagePreview = document.getElementById(`imgView_${index}`);
            imageContainer.removeChild(imagePreview.parentElement);
            console.log('Image deleted successfully');
        } else {
            console.error('Error deleting image:', response.statusText);
        }
    })
    .catch(error => {
        console.error('Error deleting image:', error);
    });
}
        function calculateSellingPrice() {
            var price = parseFloat(document.getElementById("price").value);
            var discount = parseFloat(document.getElementById("discount").value);
            var sellingPrice = price * (1 - discount / 100);
            document.getElementById("selling_price").innerText = sellingPrice.toFixed(2);
            document.getElementById("original_price").innerText = price.toFixed(2);
            var discountPercentage = ((price - sellingPrice) / price * 100).toFixed(2);
            document.getElementById("discount_percentage").innerText = "(" + discountPercentage + "%)";
        }
        // Call calculateSellingPrice() on page load if discount is already set
        if(document.getElementById("discount").value) {
            calculateSellingPrice();
        }
    </script>
</body>
</html>
